services:
  web-scraping-service:
    build: .
    init: true
    ports:
      - "8000:8000"
    networks:
      - infrastructure-net
    volumes:
      - .:/app  # This is fine
      - ./data:/home/appuser/.crawl4ai
    shm_size: '1gb'  # Increase shared memory size for headless browsers

networks:
  infrastructure-net:
    external: true # set to driver: bridge if you want to create a new one instead of using the existing onej
    name: online-agent_default